// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.menu-icon{
  margin-top: -1.2em !important;
  height: 1.4em;

}
.jingou-logo{
  margin-top: 0.8em;
  width: 4em;
}
.back-icon{
  font-size: 1.4em;
}
.header-icon-btn{
  height: 2.2em;
}
.notification-icon{
  height: 1.6em;
}
.profile-icon{
  height: 1.6em;
}
.profile-icon-btn{
  padding-left: 10px;
}


.halal-icon{
  height: 1.8em;
}

.cart-icon{
  height: 1.6em;
}
.cart-icon-toolbar{
  height: 2em;
}
ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 10px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;
}

.right-icons{
  position: absolute;
  display: block;
  top:0;
  right: 0;

  margin-right: 1em;
}
.left-icons{
  position: absolute;
  display: block;
  top:0;
  left: 0;
  margin-top: 2em;
  margin-left: 0.9em;
}

.header-md{
  height: 4.5em !important;
  display: inline-block;
  background: color($colors,primary);
}
ion-navbar.toolbar{
  height: 100%;
}
.right-icons-bottom{
  margin-top: -10px;
  //margin-left: -20px;
}
.right-icons-top{
  //text-align: center;
  padding-left: 15px;

}
.crown-sm-icon-btn{
  font-size: 1em;
  text-transform: capitalize;
}
.crown-sm-icon{
  height: 1.2em;
}
.crown-icon-text{
  margin-top: 0.4em;
  font-size: 0.7em;
}
ion-header{
  box-shadow: 0px 5px 2px grey;

}
ion-content{
  text-align: justify;
}
.jingou-toolbar{
  background: #ffd98f;
}
